include CITATION.cff
include LICENSE
include README.md
include requirements.txt

exclude .codecov.yml
exclude .pre-commit-config.yaml
recursive-exclude atlas-scripts *.py
recursive-exclude atlas-scripts/hashes *.txt

graft brainglobe_atlasapi *.py

prune tests
prune tutorials
